<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yfkj.wxapp.dao.client.PageDAO">


    <resultMap id="sliderMap" type="cn.yfkj.wxapp.entity.client.dto.SliderDTO">
        <id column="id" property="id"/>
        <result column="slider_name" property="sliderName"/>
        <result column="slider_img_url" property="sliderImgUrl"/>
        <result column="slider_link_url" property="sliderLinkUrl"/>
        <result column="slider_type" property="sliderType"/>
    </resultMap>

    <sql id="sliderSql">
        id ,
        slider_name,
        slider_img_url ,
        slider_link_url,
        slider_type
    </sql>


    <select id="getSliderList" resultMap="sliderMap">
        SELECT
        <include refid="sliderSql"/>
        FROM
        wx_slider
        WHERE
        status = 1
        AND
        slider_type = #{sliderType}
    </select>

</mapper>