<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yfkj.wxapp.dao.admin.SliderManagerDAO">

    <resultMap id="sliderMap" type="cn.yfkj.wxapp.entity.admin.dto.SliderManageDTO">
        <id column="id" property="id"/>
        <result column="slider_name" property="sliderName"/>
        <result column="slider_img_url" property="sliderImgUrl"/>
        <result column="slider_link_url" property="sliderLinkUrl"/>
        <result column="slider_type" property="sliderType"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="sliderSql">
        id ,
        slider_name ,
        slider_img_url ,
        slider_link_url ,
        slider_type ,
        gmt_create ,
        gmt_modified ,
        status
    </sql>
    
    <select id="getSliderList" resultMap="sliderMap">
        SELECT
        <include refid="sliderSql"/>
        FROM
        wx_slider
        WHERE
        <![CDATA[status != -1]]>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="sliderType != null">
            AND slider_type = #{sliderType}
        </if>
        <if test="name != null and name != ''">
            AND slider_name LIKE CONCAT('%' , #{name,jdbcType=VARCHAR} , '%')
        </if>
        ORDER BY id DESC
        LIMIT #{pageNo} , #{pageSize}
    </select>

    <select id="getTotalSize" resultType="Integer">
        SELECT
        count(1)
        FROM
        wx_slider
        WHERE
        <![CDATA[status != -1]]>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="sliderType != null">
            AND slider_type = #{sliderType}
        </if>
        <if test="name != null and name != ''">
            AND slider_name LIKE CONCAT('%' , #{name,jdbcType=VARCHAR} , '%')
        </if>
    </select>

    <select id="getSliderInfo" resultMap="sliderMap">
        SELECT
        <include refid="sliderSql"/>
        FROM
        wx_slider
        WHERE
        <![CDATA[status != -1]]>
        AND
        id = #{id}
    </select>

    <insert id="addSlider" parameterType="cn.yfkj.wxapp.entity.admin.bo.SliderManageAddBO">
        INSERT INTO
        wx_slider
        (
        slider_name ,
        slider_img_url ,
        slider_link_url ,
        slider_type ,
        status,
        gmt_create ,
        gmt_modified
        )
        VALUE
        (
        #{sliderName} ,
        #{sliderImgUrl} ,
        #{sliderLinkUrl} ,
        #{sliderType} ,
        #{status} ,
        now() ,
        now()
        )
    </insert>

    <update id="setSliderStatus" parameterType="cn.yfkj.wxapp.entity.admin.bo.SliderManageStatusBO">
        UPDATE
        wx_slider
        SET
        status = #{status} ,
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <update id="updateSliderInfo" parameterType="cn.yfkj.wxapp.entity.admin.bo.SliderManageUpdateBO">
        UPDATE
         wx_slider
        SET
        slider_name = #{sliderName}  ,
        slider_img_url = #{sliderImgUrl}  ,
        slider_link_url = #{sliderLinkUrl}  ,
        slider_type = #{sliderType}  ,
        status = #{status} ,
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

</mapper>