<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yfkj.wxapp.dao.admin.SliderManagerDAO">

    <resultMap id="sliderMap" type="cn.yfkj.wxapp.entity.admin.dto.SliderManageDTO">
        <id column="id" property="id"/>
        <result column="slider_name" property="sliderName"/>
        <result column="slider_img_url" property="sliderImgUrl"/>
        <result column="slider_link_url" property="sliderLinkUrl"/>
        <result column="slider_type" property="sliderType"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="sliderSql">
        id ,
        slider_name ,
        slider_img_url ,
        slider_link_url ,
        slider_type ,
        gmt_create ,
        gmt_modified ,
        status
    </sql>

    <select id=""

    <select id="getTotalSize" resultType="Integer">
        SELECT
        count(1)
        FROM
        wx_slider
        WHERE
        status != -1
        <if test="sliderType != null">
            AND slider_type = #{sliderType}
        </if>
    </select>

</mapper>